*
{
    margin: 0px;
    padding: 0px;
}

#bg
{
    background-color: black;

    height: 360px;
    margin:120px 180px; 
    width: 70%;
    
}
#photo 
{
   float:left;
   
   position: relative;
}
#photo img
{
    width: 190px;
    height: 190px;
    margin: 90px 50px 90px 90px;
    
}
#title
{
    float: left;
    
    position: relative;
}
#title span
{
    color: aliceblue;
    font-size: 70px;
}
#title h2
{
    color: aliceblue;
    cursor: pointer;
}
#title a
{
    text-decoration: none;
}
#title
{
    margin-top: 115px;
}
#hbg
{
   
   height: 400px;
   background-image: url(../images/contact_background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  



}
#navbar
{
    
    margin: 15px 80px;
    position: fixed;
    height: 85px;
    width: 85%;
    background-color: aliceblue;
    z-index: 99;
}
#navbar #logo
{
    float: left;
    position: relative;
    height:85px;
  
}

#navbar #logo #hphoto
{
    float: left;
    height: 85px;
   
}
#navbar #logo #hphoto img
{
    width: 50px;
    height: 50px;
    margin: 20px 0px 20px 80px ;
    
}
#navbar #logo #name
{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
#navbar #list
{
    float: left;
    margin-top: 33px;
    margin-left: 40px;
    
}
#navbar #list li
{
    list-style: none;
    display: inline;
    margin-left: 11px; 
    cursor: pointer;
}
#navbar #list  span
{
    color: rgba(26, 25, 25, 0.925);
    font-size: 17px;

}
#navbar #contact
{
    float:left;
    background-color: rgb(255,182,6);
    margin-left: 36.3px;
    height: 85px;
    
}
#phone img
{
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-top: 18px;
    
}
#phone
{
    float: left;
}
#num
{
    float: left;
}
#num span
{
    line-height: 85px;
    margin-left: 3px;
    padding: 5px;
}
#line
{
    width: 90px;
    height: 3px;
    background-color:rgb(255,182,6);
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 555px;
}
#card1
{
    
    height: 400px;
    background-color: rgb(241, 240, 240);
    float: left;
    margin-top: 40px;
    
    margin-left: 85px;
    margin-bottom: 70px;
    border-radius: 7px;
    
    
    
   
    
    
}

#card1 p
{
    font-size: 25px;
    line-height: 100px;
    padding: 7px;
   
}
#cimg
{
    height:250px;
    background-image: url(../images/course_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cimg2
{
    height:250px;
    background-image: url(../images/course_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    

#cimg3
{
    height:250px;
    background-image: url(../images/course_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cimg4
{
    height:250px;
    background-image: url(../images/course_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cimg5
{
    height:250px;
    background-image: url(../images/course_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
#cimg6
{
    height:250px;
    background-image: url(../images/course_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cimg7
{
    height:250px;
    background-image: url(../images/course_7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#cimg8
{
    height:250px;
    background-image: url(../images/course_8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
#cimg9
{
    height:250px;
    background-image: url(../images/course_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#end1
{
    height: 70px;
    margin-bottom: 0px;
    background-color: rgb(230, 227, 227);
}
#auther
{
    float: left;
}
#auther img
{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 18px;
    line-height: 70px;
}
#info
{
    float: left;
    height: 40px;
}
#info p
{
    font-size: 20px;
    line-height: 70px;
}
#info span
{
    font-size: 20px;
    color: darkgray;
    line-height: 70px;
}
#price
{
    float: left;
    background-color: rgb(255,182,6);

}
#price span
{
    color: aliceblue;
    font-size: 22px;
    line-height: 70px;
    margin: 0px 5px 0 5px;
}
#card1:hover
{
    background-color: rgb(139,206,239);
}
#hover:hover
{
    background-color: rgb(139,206,239);
}
#reg
{
    margin: 20px;
   
}
#discount
{
    float:left;
    width: 50%;
    background-color: rgb(255,182,6);
    height: 500px;
    position: relative;
   
}
#form
{
    float:left;
    background-image: url(../images/latest_2.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    color: rgb(255,182,6);
   
}
#form .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 227, 227,.5);

}
#discount h1
{
    color: aliceblue;
    margin: 100px 20px 20px 50px;

}
#discount p
{
    size: 40px;
    margin:100px 50px 100px 50px;

}


.breg 
{
    width: 190px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
   text-align: center;
  text-decoration: none;
  display: inline-block;
  
  position: absolute;
  bottom: 0;
  bottom: 39px;
  left: 190px;
  cursor: pointer;

}
.overlay
{
    text-align: center;
}
.overlay h1
{
    color: black;
    font-size: 50px;
    margin-top: 90px;
    
}
.overlay table
{
    margin-left: 73px;
    margin-top: 50px;

}
.overlay table tr
{
    height: 65px;
}
.overlay table tr td input
{
    height: 30px;
    width: 450px;
    color:darkgray;
    font-size: 18px;
    padding: 2px 20px;
}
.search
{
    background-color:  rgb(255,182,6);
    color: aliceblue;
    font-size: 20px;
    height: 35px;
    width: 490px;
    border: none;
    cursor: pointer;
}
#line2
{
    width: 90px;
    height: 3px;
    background-color:rgb(255,182,6);
    margin-top: 2040px;
    margin-left: 580px;
}
#scard
{
    width: 280px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 35px;

}
#scard img
{
    width: 65px;
    height: 56px;
    margin-left: 30px;
    text-align: left;
}
#scard h1
{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;

}
.scp
{
    margin-left: 30px;
    margin-top: 20px;
}
#cover
{
    background-image: url(../images/dd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 57px;
    position: relative;
    width: 1150px;
    height: 550px;
   
    float: left;
}
#cover .overlay2
{
    background-color: rgba(77,78,75,0.7);
    position: absolute;
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
   
}
#cover .overlay2 .cp
{
    font-size: 40px;
    color: aliceblue;
    margin-top:30px;
    
}
#line3
{
    width: 90px;
    height: 3px;
    background-color: rgb(255,182,6);
    margin-top: 90px;
    margin-left: 530px;
}
#cover .overlay2 .comma
{
    font-style: italic;
    font-size: 50px;
    color: rgb(255,182,6);
    margin-top: 67px;
}
#cover .overlay2 .par
{
    margin-left: 123px;
    margin-right: 123px;
    margin-top: 25px;
    color: aliceblue;
}
#cover #coverimg
{
    width: 90px;
    height: 90px;
    background-image: url(../images/cover-1523954945.jpg);
    background-size: cover;
    border-radius:50px;
    position: absolute;
    top: 430px;
    left: 510px;

}



.clearfix 
{
    clear: both;
}

#thcard
{
    height: 250px;
    margin-left: 130px;
    margin-top: 50px;
    position: relative;

}
#fo
{
   font-size: 160px;
   float: left;
   color: rgb(255,182,6);
}

#thcard #sti
{
   
    color: dimgrey;
    margin-top: 10px;
    
}
#thcard #p
{
    
    margin-top: 10px;
    width: 350px;
    float: left;

}

#thcard #img3
{
    float: left;
    width: 450px;
    height: 90%;
    position: absolute;
}
#thcard #txtdiv
{
    width: 400px;
    float: left;
    padding-left: 40px;
}
#line4
{
    
    width: 70px;
    height: 3px;
    background-color: rgb(255,182,6);
    margin-top: 30px;
    margin-left: 560px;

}
#ti3
{
    margin-top: 20px;
    margin-left: 450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
#blackdiv
{
    background-color: rgb(26,26,26);
    height: 790px;
    margin: 30px;
    position: relative;
    text-align: center;
}
#line5
{
    width: 70px;
    height: 3px;
    background-color: rgb(255,182,6);
    margin-top: 80px;
    margin-left: 560px;
    position: absolute;
}
#blackdiv #h11
{
    color: aliceblue;
    margin-top: 120px;
    margin-left: 360px;
    position: absolute;
    font-size: 40px;
    font-family: sans-serif;
}
#search
{
    position: absolute;
    top: 230px;
    left: 300px;
}
#search #sbar
{
    width: 500px;
    height: 30px;
    background-color: aliceblue;
    color: darkgrey;
    border: none;
    padding: 2px;
    padding-left: 15px;
}
#search #bb
{
    height: 34px;
    width: 100px;
    background-color: rgb(255,182,6);
    color: aliceblue;
    border: none;
    cursor: pointer;

}
#line6
{
    position: absolute;
    width: 80%;
    height: 1.5px;
    background-color: darkgray;
    top: 350px;
    left: 118px;
}
#first
{
    width: 20%;
    top: 300px;
    position: absolute;
    top: 440px;
    left: 140px;
    
}
#first img
{
    margin-top: 10px;
    width: 50px;
    height: 40px;
    float: left;
   
}
#first #course
{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 40px;
    float: left;
    margin-top: 7px;
    margin-left: 6px;
    
}
#fp
{
    color: darkgray;
    text-align:left;
    margin-top: 80px;
    line-height: 27px
}
#second
{
    width: 20%;
    top: 440px;
    left: 460px;
    position: absolute;
    text-align: left;
    
}
#second li
{
    list-style: none;
    cursor: pointer;

}
#course
{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 20px;
    

}
#hanet
{
    color: darkgray;
    text-align:left;
    line-height: 27px;
}
#third
{
    position: absolute;
    width: 20%;
    top: 440px;
    left: 680px;
    text-align: left;
}
#third li
{
    list-style: none;
    cursor: pointer;

}
#fourth
{
    position: absolute;
    width: 20%;
    top: 440px;
    left: 940px;
    text-align: left;
}
#lfo
{
    float: left;
    color: rgb(255,182,6);
    font-size: 22px;
    margin-top: 7px;
}
#lp
{
   
    color: darkgray;
    margin-left: 32px;
    line-height: 37px;
}
#line7
{
    position: absolute;
    width: 80%;
    height: 1.5px;
    background-color: darkgray;
    top: 740px;
    left: 118px;
}
#lastnb
{
    
    
    position: absolute;
    left: 118px;
    top: 741px;
    height: 50px;
    width: 80%;
    text-align: left;
}
#llast
{
    margin-left: 0px;
    color: darkgray;
    line-height: 50px;
    display: inline-block;
    float: left;
}
#ll li
{
    list-style: none;
    display: inline-block;
    color: aliceblue;
    line-height: 50px;
    margin-left: 20px;
    cursor: pointer;
}
